
.sticky {
    position: fixed;
    bottom: 0;
    background-color: rgba(88, 88, 88, 0.082);
    padding: 30px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    right: 10px;
    bottom: 10px;
    height: 100px;
    width: 50%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
  }
  
  .animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
  }
  
  .action-button {
    border-radius: 8px;
    font-family: 'Roboto';
    padding: 5px 0;
    width: 125px;
    text-align: center;
    font-size: 18px;
    font-variant: small-caps;
    color: #FFF !important;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mail-button {
    border-radius: 50%;
    font-family: 'Roboto';
    padding: 8px 11.5px;
    text-align: center;
    font-size: 18px;
    color: #FFF !important;
    text-decoration: none;
    cursor: pointer;
  }
    
  .logout-button {
    border-radius: 50%;
    font-family: 'Roboto';
    padding: 8px 15px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
  }

  .refresh-button {
    border-radius: 50%;
    font-family: 'Roboto';
    padding: 8px 12px;
    text-align: center;
    font-size: 18px;
    color: #FFF !important;
    text-decoration: none;
    cursor: pointer;
  }
  
  .red {
    background-color: rgb(28, 28, 28);
    border-bottom: 3px solid #BD3E31;
  }
  
  .red:hover {
    transition-duration: 0.7s;
    color: #BD3E31;
  } 
  
  .green {
    background-color: #1C1C1C;
    border-bottom: 3px solid #669644;
  }
  
  .green:hover {
    transition-duration: 0.7s;
    color: #669644;
  }
  
  .yellow {
    background-color: #1C1C1C;
    border-bottom: 3px solid #D1B358;
  }
  
  .yellow:hover {
    transition-duration: 0.7s;
    color: #D1B358;
  }
  
  .blue {
    background-color: #1C1C1C;
    border-bottom: 3px solid #2980B9;
  }
  
  .blue:hover {
    transition-duration: 0.4s;
    color: #2980B9;
  }
  
  .pink {
    background-color: #1C1C1C;
    border-bottom: 3px solid rgb(233, 119, 189);
  }
  
  .pink:hover {
    transition-duration: 0.4s;
    color: rgb(221, 116, 235);
  }

  .purple {
    background-color: #1C1C1C;
    border-bottom: 3px solid rgb(98, 53, 96);
  }

  .purple:hover {
    transition-duration: 0.4s;
    color: rgb(117, 65, 115);
  }
  
  .action-button:active, .mail-button:active, .refresh-button:active, .logout-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
  }

  .buttons-in-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .buttons-in-modal a {
    margin: 2rem;
  }

  .button-and-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .button-and-modal p {
    font-weight: bold;
  }