/* *:before,
*:after {
  box-sizing: border-box;
} */
.h-center {
  display: flex;
  justify-content: center;
}

.arrow {
  margin: 2rem;
}

.l-arrow,
.r-arrow {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
}
.l-arrow-circ,
.r-arrow-circ {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #333;
}
.l-arrow:before,
.l-arrow-circ:before {
  content:"";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35%;
  height: 35%;
  border-left: 4px solid #333;
  border-bottom: 4px solid #333;
  -webkit-transform: translate(-30% -50%) rotate(45deg);
  transform: translate(-30%, -50%) rotate(45deg);
}

.r-arrow:before,
.r-arrow-circ:before {
  content:"";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35%;
  height: 35%;
  border-right: 4px solid #333;
  border-bottom: 4px solid #333;
  -webkit-transform: translate(-70% -50%) rotate(-45deg);
  transform: translate(-70%, -50%) rotate(-45deg);
}

.r-arrow-stick,
.l-arrow-stick,
.r-arrow-stick-circ,
.l-arrow-stick-circ{
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.r-arrow-stick-circ,
.l-arrow-stick-circ {
  border-radius: 50%;
  border: 3px solid #333;
}

.l-arrow-stick:before,
.l-arrow-stick-circ:before {
  content:"";
  position: absolute;
  left: 40%;
  top: 50%;
  width: 30%;
  height: 30%;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  -webkit-transform: translate(-60% -50%) rotate(45deg);
  transform: translate(-60%, -50%) rotate(45deg);
}
.l-arrow-stick:after,
.l-arrow-stick-circ:after{
  content:"";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 2px;
  background: #333;
  -webkit-transform: translate(-40%,-50%);
  transform: translate(-40%, -50%);
}
.r-arrow-stick:before,
.r-arrow-stick-circ:before{
  content:"";
  position: absolute;
  left: 60%;
  top: 50%;
  width: 30%;
  height: 30%;
  border-right: 3px solid #333;
  border-top: 3px solid #333;
  -webkit-transform: translate(-50% -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.r-arrow-stick:after,
.r-arrow-stick-circ:after{
  content:"";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 2px;
  background: #333;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
}